.Home_screen_background::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 140vh;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4))100%;
        z-index: 1;

}
.Home_screen_background>img{
    height: 140vh !important;
    width: 100%;
    object-fit: cover;
    z-index:-1;

}
.Home_screen_body{
    position: absolute;
    width: 92%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: left;
    z-index: 2;
}
.Home_screen_body>h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.Home_screen_body>p{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.Home_screen_body>h1>span{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Home_screen_input{
    width: 80%;
    display: flex;
    justify-content: center;
}


.Home_screen_input>form{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
.email{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

}
.email input{
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    line-height: 1.5;
    background-color: #333333cd;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: #fff;
}
.email label{
    position: absolute;
    top: 4px;
    left: 10px;
    padding: 10px 0;
    font-size: 16px;
    color: #bdb8b8;
    transition: .5s;
   
}
.email input:focus ~ label{
    top: -10px;
    left: 15px;
    color: #bdb8b8;
    font-size: 12px;
  } 
.email button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    padding:1rem 0rem;
    margin-bottom: 1rem;
    background-color: #e50914;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.email button:hover{
    background-color: #f40612;
}

/* media query */
/* ............Mobile.................. */

@media (max-width:480px){
    .Home_screen_background::before{
        height: 120vh;
    }
    .Home_screen_background>img{
        height: 120vh !important;
    }
    .Home_screen_body{
        width: 90%;
    }
    .Home_screen_body>h1>span{
        display:inline;
    }
    .Home_screen_body>h1{
        text-align: center;
        margin-top: -3rem;
        font-size: 2rem;
        font-weight: 700;
    }
    .Home_screen_body>p {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
    }
    .Home_screen_input>form{
        width: 100%;
    }
    .Home_screen_input>form>h3{
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
    }
    .email{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .email button{
        width: 75%;
        
    }
}
/*............Extra small devices.............. */
@media (min-width: 481px) and (max-width: 767px){
    .Home_screen_background::before{
        height: 110vh;
    }
    .Home_screen_background>img{
        height: 110vh !important;
    }
    .Home_screen_body{
        width: 90%;
        top: 60%;
    }
    .Home_screen_body>h1>span{
        display:inline;
    }
    .Home_screen_body>h1{
        text-align: center;
        font-size: 1.9rem;
        font-weight: 800;
    }   
    .Home_screen_body>p {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
    } 
    .Home_screen_input>form>h3{
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
    }
    .Home_screen_input>form{
        width: 100%;
    }
    .Home_screen_input>form>h3{
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
    }
    .email{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .email button{
        width: 55%;
    }

}
/* ............Tablet.................. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .Home_screen_background::before{
        height: 110vh;
    }
    .Home_screen_background>img{
        height: 110vh !important;
    }
    .Home_screen_body{
        width: 90%;
        top: 60%;
    }
    .Home_screen_body>h1>span{
        display:inline;
    }
    .Home_screen_body>h1{
        text-align: center;
        font-size: 2.1rem;
        font-weight: 700;
    } 
    .Home_screen_body>p {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
    } 
    .Home_screen_input>form>h3{
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }

}
/* ............Desktop.................. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .Home_screen_background::before{
        height: 110vh;
    }
    .Home_screen_background>img{
        height: 110vh !important;
    }
    .Home_screen_body{
        width: 90%;
        top: 60%;
    }
    .Home_screen_body>h1{
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
    } 
    .Home_screen_body>p {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
    } 
    .Home_screen_input>form>h3{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }

}

